
h1 {
    color: white;
    font-family: 'calibri', sans-serif;

}

.container {
    background-color: black;
    padding: 3rem;
}



$primary: #10b3ff;
$secondary: green;
$light:rgba(250, 250, 250, 0.479);



@import "../node_modules/bootstrap/scss/bootstrap";

