
h1 {
    // padding: rem;
    color: white;
    // background-color: black;
    font-family: 'calibri', sans-serif;

}

.container {
    background-color: black;
    padding: 3rem;
}



$primary: #10b3ff;
$secondary: green;
// $dark: #300;
$light:rgba(250, 250, 250, 0.479);
// $success: #0fa;
// $info: #555;
// $warning: red;
// $danger: red;


@import "../node_modules/bootstrap/scss/bootstrap";

